<footer class="text-light section-dark">
    <div class="container">
        <div class="row g-4 align-items-center">
            <div class="col-md-12">
                <div class="d-lg-flex align-items-center justify-content-between text-center">
                    <!-- Address Section -->
                    <div>
                        <h3 class="fs-20">Address</h3>
                        Jankit Nagar, Kadachanenthal<br>
                        Madurai, Tamil Nadu, India
                    </div>
                    
                    <!-- Logo & Socials Section -->
                    <div>
                        <img src="/static/assets/images/logo.png" class="w-150px" alt="Innovate Solution Technology Logo"><br>
                        <div class="social-icons mb-sm-30 mt-4">
                          
                            <a href="#"><i class="fa-brands fa-instagram"></i></a>
                       
                            <a href="#"><i class="fa-brands fa-linkedin-in"></i></a>
                        </div>
                    </div>

                    <!-- Contact Section -->
                    <div>
                        <h3 class="fs-20">Contact Us</h3>
                        T. <a href="tel:+918778225183" class="text-light text-decoration-none">+91 8778225183</a><br>
                        E. <a href="mailto:innovatesolutiontechnology@gmail.com" class="text-light text-decoration-none">innovatesolutiontechnology@gmail.com</a>
                    </div>
                </div>
            </div>                    
        </div>
    </div>
    
    <!-- Subfooter / Copyright -->
    <div class="subfooter">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    Copyright 2026 - Innovate Solution Technology. All Rights Reserved.
                </div>
            </div>
        </div>
    </div>
</footer>