<header class="transparent">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="de-flex">
                    
                    <!-- Logo Column -->
                    <div class="de-flex-col">
                        <div id="logo">
                            <a href="/">
                                <img class="logo-main" src="/static/assets/images/logo.png" alt="IST Logo">
                                <img class="logo-scroll" src="/static/assets/images/logo.png" alt="IST Logo">
                                <img class="logo-mobile" src="/static/assets/images/logo.png" alt="IST Logo">
                            </a>
                        </div>
                    </div>

                    <!-- Navigation Menu Column -->
                    <div class="de-flex-col header-col-mid">
                        <ul id="mainmenu">
                            <li><a class="menu-item active" href="/">Home</a></li>
                            <li><a class="menu-item" href="about">About</a></li>
 <li><a class="menu-item" href="#">Services</a>
                                <ul>
                                    <li><a class="menu-item" href="services">Core Services</a></li>
                                    <li><a class="menu-item" href="projects">College - Final Year Projects</a></li>
                                    
                                </ul>
                            </li>


                            <li><a class="menu-item" href="products">Products</a></li>
                            
                            <!-- Careers Dropdown -->
                            <li><a class="menu-item" href="#">Careers</a>
                                <ul>
                                    <li><a class="menu-item" href="join-us">Join Us</a></li>
                                    <li><a class="menu-item" href="interns">Interns</a></li>
                                    
                                </ul>
                            </li>
                        </ul>
                    </div>

                    <!-- Call to Action / Mobile Menu Column -->
                    <div class="de-flex-col">
                        <!-- Changed "Buy Tickets" to "Get In Touch" -->
                        <a class="btn-main fx-slide ms-3" href="contact"><span>Get In Touch</span></a>

                        <div class="menu_side_area">
                            <span id="menu-btn"></span>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
</header>